header {
background-color :rgb(76, 158, 235);
text-align: left;
font-size: medium;
color: rgb(28, 32, 28);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav {
    background-color: rgb(238, 238, 110);
    text-align: center;
    list-style:none;
    font-size: 150%;
}

@media screen and (max-width: 700px) {  
    .row, .navbar {   
      flex-direction: column;
    }
}
section {
    display: flex;
    text-align: center;
}

main{
    background-color:rgb(174, 191, 199);

}
.side {
    flex: 30%;
    background-color: rgb(69, 110, 98);
    padding: 20px;
  }

article {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
aside {
    flex: 30%;
    text-align: center;
}
script {
    text-align: left;
}

footer {
    background-color: rgb(241, 241, 111);
    text-align: center;
    font-size: 140%;
}
