header {
background-color :rgb(76, 158, 235);
text-align: left;
font-size: medium;
color: rgb(28, 32, 28);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav {
    background-color: background-color rgb(238, 231, 138); 
    text-align: center;
    color: black;
    list-style:none;
}

section {
    display: flex;
    text-align: center;
}

main{
    background-color:rgb(174, 191, 199);

}
article {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
aside {
    text-align: left;
}
script {
    text-align: left;
}

footer {
    background-color:rgb(238, 231, 138);
    text-align: center;
}
